.round-bar{
  border-radius: 5px;
  height: 55px;
  width: 100px;
  border-color: rgba(202, 187, 187, 0.679);
  color: gray;
  border-style: solid;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;

}
 